/* ! 
	color:#58026D;
*/

body {
	font-size:.9em;
	background-color:#333;
}

.menu {
	position:absolute;
	right:50px;	
	top:56px;
	height:32px;
	width:250px;
}

.menu-link {
	text-decoration:none;
}

.menu img {
	margin-left:5px;
}

.container {
	padding-top:40px;
	min-height:400px;
	position: relative;
}

footer {
	height:100px;
	position:absolute;
	bottom:0;
}

h1 {
	font-family:Helvetica;
	padding-top:10px;
	font-size:4em;
	margin-bottom:30px;
}

h2 {
	font-size:1.8em;
	margin-bottom:20px;
}


h3 {
	font-size:1.4em;
	margin-bottom:5px;
}

.date {
	font-size:.9em;
	color:#808080;
	font-style:italic;
	margin-bottom:-20px;
	padding-left:10px;
}

.post {
	margin-bottom:30px;
}

p {
	padding: 0 20px 20px 20px;
	font-size:1.1em;
	line-height:1.5;
}

pre {
	margin-bottom:30px;
}

code {
	font-size:.8em;
	font-family:"Bitstream Vera Sans Mono",Consolas,Monaco,monospace;
}


/*

CSS to add linenumbers to embedded gists

https://gist.github.com/1243028

*/
/*
.gist-highlight {
    border-left: 3ex solid #eee;
    position: relative;
}

.gist-highlight pre {
    counter-reset: linenumbers;
}

.gist-highlight pre div:before {
    color: #aaa;
    content: counter(linenumbers);
    counter-increment: linenumbers;
    left: -3ex;
    position: absolute;
    text-align: right;
    width: 2.5ex;
}
*/
ul {
	list-style:none;
	font-weight:bold;
}

li {
	padding-bottom:15px;
}

pre {
	font-size:1.2em;
}

.header {
	height:110px;
}

a {
	color:#333;
	text-decoration:underline;
}

a.h1 {
	text-decoration:none;
}

a:hover {
	color:#333;
	text-decoration:none;	
}

.top {
	height:100px;
	background-color:#333;
}

.bottom {
	min-height:200px;
	background-color:#333;
}

.wrapper {
	background-color:white;
}

.logo {
	width:210px; /* ugly */
}