table.sourceCode, tr.sourceCode, td.sourceCode, table.sourceCode pre
   { margin: 0; padding: 0; border: 0; vertical-align: baseline; border: none; background-color: #fff }
td.nums { text-align: right; padding-right: 5px; padding-left: 5px; background-color: #f0f0f0; }
td.sourceCode { padding-left: 5px; }
code.sourceCode { background-color: #fff; }
pre.sourceCode { background-color: #fff; line-height: 125% }
td.nums pre { background-color: #f0f0f0; line-height: 125% }
code.sourceCode span.kw { color: #000; font-weight: bold } /* Keyword */
code.sourceCode span.dt { color: #204a87 } /* Keyword.Type */
code.sourceCode span.dv { color: #099 } /* Literal.Number.Integer */
code.sourceCode span.bn { color: #0000cf } /* Literal.Number.Hex */
code.sourceCode span.fl { color: #0000cf } /* Literal.Number.Float */
code.sourceCode span.ch { color: #d14 } /* Literal.String.Char */
code.sourceCode span.st { color: #d14 } /* Literal.String */
code.sourceCode span.co { color: #998; font-style: italic } /* Comment */
code.sourceCode span.ot { color: #333 } /* Comment.Preproc */
code.sourceCode span.al { color: #ef2929 } /* Generic.Error */
code.sourceCode span.fu { color: #333 } /* Name.Function */
code.sourceCode span.re { }
code.sourceCode span.er { color: #a40000; border: 1px solid #ef2929 } /* Error */

@font-face {
	font-family: "FiraLight";
	src: url('../fonts/FiraSans-Light.woff');
}

@font-face {
	font-family: "OpenSans";
	src: url('../fonts/OpenSans-Regular.woff');
}

body {
	font-size:16px;
}

h2 {
	font-size:36px;
}

p {
	line-height:30px;
	padding-bottom:15px;
	font-family:OpenSans;
}

p a {
	text-decoration:underline;
}

pre {
	margin-bottom:20px;
	border:none;
}

.post-title {
	margin-bottom:5px;
	margin-top:0;
}

ul.nav {
	display:flex;
}

.nav li {
	flex:1;
	text-align:center;
}

.nav li a:hover {
	background-color:#fff;
	text-decoration:underline;
}

.content .posts li {
	list-style:none;
	padding:8px 0;
	margin-left:-40px;
}

.content .posts li em {
	font-style:italic;
	color:#666;
}

.head {
	padding:0 50px;
}

.content {
	padding:80px 50px;
}

.footer {
	padding:0 50px 30px 50px;
}

@media screen and (max-width: 768px) {
	.content{
		padding:50px 10px;
	}

	.footer {
		padding:0 10px 30px 10px;
	}

	.head {
		padding:0 10px;
	}
}

.content h2 {
	font-family:FiraLight;
}

.metadata {
	padding-bottom:10px;
	padding-left:2px;
}

p.metadata {
	font-size:14px;
}

.tags {
	font-weight: bold;
	padding-left:5px;
}

.tags a {
	text-decoration:none;
}

.date {
	font-style:italic;
	color:#222;
	padding-right:5px;
}

.page-header h1 {
	font-family:FiraLight;
}

a {
	color:#222;
}

a:hover {
	color:#555;
}

.nav a {
	text-decoration:none;
}

.nav a:hover, 
.nav a:active,  
.nav a:focus {
	color:#222;
}

.header {
	border-bottom:1px solid #aaa;
	border-top:1px solid #aaa;
}

.page-header {
	border-bottom:none;
}

.page-header a {
	text-decoration:none;
}

.bottom {
	text-align: center;
	padding:75px 0 60px 0;
	font-style:italic;
	color:#999;
	border-top:1px solid #aaa;
	font-size:14px;
}

.bottom a {
	color:#666;
}

.date {
	margin-bottom:10px;
}
