@font-face {
	font-family: "FiraLight";
	src: url('../fonts/FiraSans-Light.woff');
} 

ul.nav {
	display:flex;
}

.nav li {
	flex:1;
	text-align:center;
}

.content .posts li {
	list-style:none;
	padding:8px 10px;
}

.content .posts li em {
	font-style:italic;
	color:#666;
}

.content {
	padding:40px 50px;
}

.content h2 {
	padding-left:10px;
}

.page-header h1 {
	font-family:FiraLight;
	padding-left: 40px;
}

a {
	color:#222;
}

a:hover {
	color:#555;
}

.nav a {
	text-decoration:none;
}

.nav a:hover {
	color:#222;
}

.header {
	border-bottom:1px solid #aaa;
	border-top:1px solid #aaa;
}

.page-header {
	border-bottom:none;
}

.page-header a {
	text-decoration:none;
}

.bottom {
	text-align: center;
	padding:20px;
	font-style:italic;
	color:#666;
}