/*  
	CSS stylesheet for variadic.me
	Copyright 2012 Erik Kronberg
	color:#58026D;
*/

body {
	font-size:.9em;
	background-color:#333;
}

.menu {
	position:absolute;
	right:90px;	
	top:56px;
	height:60px;
	width:250px;
}

.menu-item {
	float:left;
	margin-right:10px;
	padding-bottom:0;
	text-decoration:none;
}

.container {
	padding-top:40px;
	padding-bottom:40px;
	min-height:360px;
	position: relative;
}

h1 {
	font-family:Helvetica;
	padding-top:10px;
	font-size:4em;
	margin-bottom:30px;
}

h2 {
	font-size:1.8em;
	margin-bottom:10px;
}


h3 {
	font-size:1.4em;
	margin-bottom:5px;
}

.date {
	font-size:.9em;
	color:#808080;
	font-style:italic;
	margin-bottom:-20px;
	padding-left:10px;
}

p {
	padding: 0 20px 20px 20px;
	font-size:1.1em;
	line-height:1.5;
}

pre {
	margin-bottom:30px;
}

code {
	font-size:.8em;
	font-family:"Bitstream Vera Sans Mono",Consolas,Monaco,monospace;
}

ul {
	list-style:none;
	font-weight:bold;
}

li {
	padding-bottom:15px;
}

pre {
	font-size:1.2em;
}

.header {
	height:110px;
}

a {
	color:#333;
	text-decoration:underline;
}

a.h1 {
	text-decoration:none;
}

a:hover {
	color:#333;
	text-decoration:none;	
}

.top {
	height:100px;
	background-color:#333;
}

.bottom {
	min-height:200px;
	background-color:#333;
	color:#8b8989;
	font-style:italic;
	font-size:.7em;
	text-align:center;
	padding-top:20px;
}

.wrapper {
	background-color:white;
}

.logo {
	width:210px; /* ugly */
}

#four---oh---four {
	margin-top:70px;
	margin-left:50px;

	font-size:5em;
}

.tags {
	font-size: 1em;
	font-style: italic;
}