<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>variadic.me - $title$</title>
    <link rel="stylesheet" type="text/css" href="/css/syntax.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/css/core.css" />
    <link rel="alternate"
          type="application/rss+xml"
          title="SimpleBlog"
          href="/rss.xml" />
  </head>
  <body>
    <div class="top"></div>
    <div class="wrapper">
      <div class="container">
        <div class="menu">
          <a href="/">
            <img src="/images/home32.png" />
          </a>
          <a href="/posts.html">
            <img src="/images/linedpaper32.png" />
          </a>
        </div>

        <div class="row">
          <div class="span10 offset1 header">
            <a class="h1" href="/">
              <h1>variadic.me</h1>
            </a>
          </div>
          
          <div class="span10 offset1">
            $body$
          </div>
        </div>
      </div>
    </div>

    <div class="top"></div>
  </body>
</html>
