<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="description" content="Opinionated coding posts and write ups on projects.">
    <title>variadic.me - $title$</title>
    <link rel="stylesheet" href="/css/syntax.css" />
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/core.css" />
    <link rel="image_src" href="/favicon.ico" />
    <link rel="alternate"
          type="application/rss+xml"
          title="variadic.me"
          href="/rss.xml" />

  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="page-header">
            <h1>
              <a href="/">variadic.me
              </a>
            </h1>
          </div>
          <ul class="nav nav-pills header">
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/posts.html">Posts</a>
            </li>
            <li>
              <a href="/projects.html">Projects</a>
            </li>
            <li>
              <a href="/about.html">About</a>
            </li>
            <li>
              <a href="/rss.xml">RSS</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row content">
        <div class="col-lg-8 col-lg-offset-2">
          $body$
        </div>
      </div>
      <div class="row footer">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="bottom">Made with Hakyll</div>
        </div>
      </div>
    </div>
    <script src="/js/jquery-2.0.3.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-16166562-4']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </body>
</html>
