<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta description="Programming posts on Haskell, Clojure, Python and other languages." />
    <title>variadic.me - $title$</title>
    <link rel="stylesheet" href="/css/syntax.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/core.css" />
    <link rel="image_src" href="favicon.ico" />
    <link rel="alternate"
          type="application/rss+xml"
          title="SimpleBlog"
          href="/rss.xml" />

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-16166562-4']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

  </head>
  <body>
    <div class="top"></div>
    <div class="wrapper">
      <div class="container">
        <div class="menu">
          <ul>
            <li class="menu-item">
              <a href="/">
                <img src="/images/home32.png" alt="Home" />
              </a>
            </li>
            <li class="menu-item">
              <a href="/posts.html">
                <img src="/images/linedpaper32.png" alt="Posts" />
              </a>
            </li>
            <li class="menu-item">
              <a href="/projects.html">
                <img src="/images/bag32.png" alt="Projects" />
              </a>
            </li>
            <li class="menu-item">
              <a href="/about.html">
                <img src="/images/user32.png" alt="About" />
              </a>
            </li>
            <li class="menu-item">
              <a href="/rss.xml">
                <img src="/images/rss32.png" alt="RSS" />
              </a>
            </li>
          </ul>
        </div>

        <div class="row">
          <div class="span10 offset1 header">
            <div class="logo">
              <a class="h1" href="/">
                <h1>variadic.me</h1>
              </a>
            </div>
          </div>
          
          <div class="span10 offset1">
            $body$
          </div>
        </div>
      </div>
    </div>

    <div class="bottom">©2012</div>
  </body>
</html>
